[build]
  command = "npm run build"
  publish = ".next"
  environment = { NEXT_PUBLIC_API_URL = "https://amberparmaar-backend-todo.hf.space" }

[functions]
  directory = "netlify/functions"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200